body {
  margin: 0px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  
}

.desaparece{
  display:none!important;
}

.aparece{
  display:block;
}

p {
  font-family: 14 px roboto;
}

.header {
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  
}

#logo {
  background-color: #000000;
  width: 88px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #081c24;
  position: fixed;
  z-index: 19;
  cursor:pointer;
}
#logo img {
  height: auto;
  margin: 12px;
  width: 40px;
}

.buscador {
  height: 73px;
  width: 100vw;
}
.buscador .buscador-search-input {
  height: 73px;
  border-style: none;
  padding-left: 200px;
  width: 100vw;
  z-index: 18;
  position: fixed;
}
.buscador ::placeholder {
  font-size: 16px;
  color: #b1aeae;
}


.cont {
  width: 88px;
  background-color: #fff;
  height: 100vh;
  display: flex;
  position: fixed;
  flex-direction: column;
  cursor: pointer;
  z-index: 20;
  
}

.caja1 {

  width: 88px;
  border-bottom: 1px solid   #f6f4f4;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

}

.batman {

  background-color: red;
  height: 68vh;
  background-image: url("../img/batman.jpg");
  display:flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  

}

.txt-batman {
  z-index: 17;
  font-family: roboto;
}

.batman::before {

  content: "";
  position: absolute;

  width: 100%;
  height: 68vh;
  background: hsla(0,0%,97%,.7);


}

#icon_popular path {
  fill: #666565;
  width: 25px;
  
}

#icon_popular {

  width: 25px;
  height: 25px;

}

.title {

  font-size: 10px;
  justify-content: center;
  align-items: center;
  font-family: roboto;
  letter-spacing: 1px;
  padding-top: 5px;
  text-align: center;
  color: #666565;

}

.after-batman {

  height: 100vh;
 

}

#see-allUno, #see-allDos, #see-allTres, #see-allCuatro {

  display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px 74px;
 font-family: Roboto,sans-serif;
 font-size: 8px;
 letter-spacing: 1px;
cursor: pointer;
    line-height: 1.6;
    margin-left: 175px;
    margin-right: 75px;
    padding-top: 35px;
   
   

}

#view {

  font-size: 8px;

}

.cont-peli {

 

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 98px;


}

.peli {
  width: 18%;
  height: auto;
  cursor: pointer;
 
}

img {
  width: 100%;
  height: auto;
}


.titu-popu, .titu-top, .titu-now, .titu-up{
  font-size: 18px;
  font-family: roboto;
}

h1.titu-peli {
  font-family: roboto;
  font-size: 12px;
  /* text-align: center; */
  color: #949090;
}

#movie-pop {

  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  z-index: 100;
  top: 0;
  display:none

}

.data {

  width: 600px;
  height: 710px;
  max-height: 90%;
  background-color: white;
  position: absolute;
  top: calc(50% - 355px);
  left: calc(50% - 300px);
  z-index: 101;

}


.boton {

  background-color: black;
  width: 200px;
  height: 42px;
  font-family: roboto;
  font-size: 12px;
  color: #fff;
  margin: 20px;
  display:block;
  border: none;
  cursor: pointer;

}





/*media query*/

@media only screen and (max-width: 600px) and (min-width: 200px)  {
  .cont {
    display: none;
  }


  .fas.fa-bars {

    height: auto;
    margin-right: 50px;
    margin-top: 30px;
    display: block;

}
  .icono{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 40;
  }
  
  .cont-peli {

    display: flex;
    flex-direction: row;
    margin-left: 67px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}

.numero5{
  display: none;
}

 
#see-allUno, #see-allDos, #see-allTres, #see-allCuatro{
  padding-left: 74px;
}
}


/*# sourceMappingURL=estilo.css.map */
