body {
  margin: 0px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  
}

.desaparece{
  display:none;
}

.aparece{
  display:block;
}

p {
  font-family: 14 px roboto;
}

.header {
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  
}

.logo {
  background-color: #000000;
  width: 88px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #081c24;
  position: fixed;
  z-index: 19;
}
.logo img {
  height: auto;
  margin: 12px;
  width: 40px;
}

.buscador {
  height: 73px;
  width: 100vw;
}
.buscador .buscador-search-input {
  height: 73px;
  border-style: none;
  padding-left: 200px;
  width: 100vw;
  z-index: 18;
  position: fixed;
}
.buscador ::placeholder {
  font-size: 16px;
  color: #b1aeae;
}


.cont {
  width: 88px;
  background-color: #fff;
  height: 100vh;
  display: flex;
  position: fixed;
  flex-direction: column;
  cursor: pointer;
  z-index: 20;
  
}

.caja1 {

  width: 88px;
  border-bottom: 1px solid   #f6f4f4;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

}

.batman {

  background-color: red;
  height: 68vh;
  background-image: url("../img/batman.jpg");
  display:flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  

}

.txt-batman {
  z-index: 17;
  font-family: roboto;
}

.batman::before {

  content: "";
  position: absolute;

  width: 100%;
  height: 68vh;
  background: hsla(0,0%,97%,.7);


}

#icon_popular path {
  fill: #b7b5b5;
  width: 25px;
  
}

#icon_popular {

  width: 25px;
  height: 25px;

}

.title {

  font-size: 10px;
  justify-content: center;
  align-items: center;
  font-family: roboto;
  letter-spacing: 1px;
  padding-top: 5px;
  text-align: center;
  color: #b7b5b5;

}

.after-batman {

  height: 100vh;
  width: 100vw;

}

.see-all {

  display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px 200px;
 font-family: Roboto,sans-serif;
 font-size: 8px;
 letter-spacing: 1px;

    line-height: 1.6;
   

}

#view {

  font-size: 8px;

}

.cont-peli {

 

    display: flex;
    flex-direction: row;
    margin-left: 170px;
    margin-top: 50px;
    justify-content: flex-start;
    align-items: flex-start;


}

.peli {

  width: 240px;
  height: auto;
  cursor: pointer;


}

img {

  width: 200px;
  height: 300px;

}


h1.titu-peli {
  font-family: roboto;
  font-size: 12px;
  /* text-align: center; */
  color: #949090;
}


/*media query*/

@media only screen and (max-width: 600px) {
  .cont {
    display: none;
  }

  .fas.fa-bars{ height: auto; margin-right: 20px;margin-top: 20px;display: block;} 
  .icono{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 40;
  }
  
  .cont-peli {

    display: flex;
    flex-direction: row;
    margin-left: 67px;
    margin-top: 50px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}

.numero5{
  display: none;
}

.see-all{
  padding-left: 74px;
}
}


/*# sourceMappingURL=estilo.css.map */
